---
import Layout from '~/layouts/Layout.astro';

---

<Layout
  title="Enter the page title here"
  metaDesc="A fast, accessible, SEO-friendly and easy-to-use starter theme for building static sites with Astro."
>

<div class="h-[1000px] bg-black"></div>
<div id="features/" class="h-[1000px] bg-light-grey"></div>
<div id="statistics/" class="h-[1000px] bg-black"></div>

</Layout>
