---
import type { CardProps } from '~/types';

interface Props extends CardProps {
  example: string
};

const { title, description, backgroundColor, class: className, ...rest }: Partial<Props> = Astro.props;
---

<li class:list={['group/card flex flex-col gap-4', className]} {...rest} >
  {title}
</li>
