---
import type { HTMLAttributes } from 'astro/types';
import type { DefaultTypes } from '~/types';

interface Props extends DefaultTypes, HTMLAttributes<'li'> {
  example?: string
};

const { backgroundColor, description, heading, class: className, ...rest }: Partial<Props> = Astro.props;
---

<li class:list={['group/card flex flex-col gap-4', className]} {...rest} >
  {heading}
</li>
