---
import type { SectionProps } from '~/types';
import { THEME_CONTAINER_DESKTOP, THEME_CONTAINER_MOBILE } from '~/consts';

interface Props extends SectionProps {
  example: string
};

const { contained = true, class: className, ...rest }: Partial<Props> = Astro.props;
---

<section class:list={['flex flex-col mb-8', contained ? `${THEME_CONTAINER_DESKTOP} ${THEME_CONTAINER_MOBILE}` : '', className]} {...rest} >

</section>
