---
import type { ComponentProps } from '../../types';
import { Image } from 'astro:assets';

const { title = 'Lorem Ipsum', description = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ', image = '/opengraph.webp' }: Partial<ComponentProps> = Astro.props;
---

<div class="not-prose flex flex-col mb-8">

  <!-- <h3 class="mb-2 font-semibold text-md md:text-lg text-theme-800 dark:text-theme-200">Author</h3> -->
  <h3 class="sr-only">Author</h3>

  <div class="flex flex-row-reverse gap-4">
    <div class="flex flex-col gap-2">
      <h4 class="m-0 text-base font-semibold text-theme-800 dark:text-theme-200">{title}</h4>
      <p class="text-sm text-theme-800 dark:text-theme-200">{description}</p>
    </div>

    <div class="flex pt-2 min-w-16">
      <Image
        src={image}
        height={64}
        width={64}
        format="webp"
        class="rounded-full border-2 border-b-2 dark:border-theme-300 border-theme-700 h-16 w-16 object-cover object-center"
        alt=`${title}'s avatar`
      />
    </div>
  </div>
</div>
