---
import type { ComponentProps } from '../../types';
import { Image } from 'astro:assets';

const { title, description, image, class: className }: Partial<ComponentProps> = Astro.props;
---

<div class:list={['not-prose flex flex-col', className]}>
  <div class="flex flex-row-reverse justify-end gap-4">
    <div class="flex flex-col gap-1">
      <h4 class="m-0 text-base font-semibold text-theme-800 dark:text-theme-200">{title}</h4>
      <p class="text-sm text-theme-800 dark:text-theme-200">{description}</p>
    </div>

    <div class="flex min-w-16">
      <Image
        src={image}
        height={64}
        width={64}
        format="webp"
        class="rounded-full border-2 border-b-2 dark:border-theme-300 border-theme-700 h-16 w-16 object-cover object-center"
        alt=`${title}'s avatar`
      />
    </div>
  </div>
</div>
