---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/sections/Banner.astro';
import BannerImage from '../content/posts/images/blog-placeholder-1.jpg';
import Title from '../components/ui/Title.astro';
---

<Layout
  title="Testing"
  metaDesc="Testing 123"
>

  <Banner
    title="Lorem ipsum sic dolurum est, magnifica ulum delit"
    titleTag="h1"
    description="Morbi tristique senectus et netus. Id semper risus in hendrerit gravida rutrum quisque non tellus. Habitasse platea dictumst quisque sagittis purus sit amet."
    image={BannerImage}
    alt=""
    primaryButtonProps={{ buttonStyle: 'primary', href: '/deadlink', text: 'View the repo', textClass: '', icon: 'tabler:brand-github', iconSize: 21, iconReverse: true, iconRotate: false }}
    secondaryButtonProps={{ buttonStyle: 'link', href: '/deadlink', text: 'Read more', textClass: '', icon: 'tabler:arrow-right', iconSize: 16, iconReverse: false, iconRotate: true }}
  >
    <Title titleTag="h1">Lorem ipsum sick DeLorean ese</Title>
    <Title titleTag="h2">Lorem ipsum sick DeLorean ese</Title>
    <Title titleTag="h3">Lorem ipsum sick DeLorean ese</Title>
    <Title titleTag="h4">Lorem ipsum sick DeLorean ese</Title>
    <Title titleTag="h5">Lorem ipsum sick DeLorean ese</Title>
    <Title titleTag="p">Lorem ipsum sick DeLorean ese</Title>
  </Banner>

  <Banner
    title="Lorem ipsum sic dolurum est, magnifica ulum delit"
    titleTag="h2"
    description="Morbi tristique senectus et netus. Id semper risus in hendrerit gravida rutrum quisque non tellus. Habitasse platea dictumst quisque sagittis purus sit amet."
  />

  <Banner
    title="Lorem ipsum sic dolurum est, magnifica ulum delit"
    titleTag="h3"
    description="Morbi tristique senectus et netus. Id semper risus in hendrerit gravida rutrum quisque non tellus. Habitasse platea dictumst quisque sagittis purus sit amet."
    primaryButtonProps={{ buttonStyle: 'primary', href: '/deadlink', text: 'View the repo', textClass: '', icon: 'tabler:brand-github', iconSize: 21, iconReverse: true, iconRotate: false }}
  />

</Layout>
