---
import type { PartialProps } from '~/types';
import { resolveBackgroundColor } from '~/utils';

const { backgroundColor = 'transparent', class: className, ...rest }: Partial<PartialProps> = Astro.props;
---

<div class:list={['flex flex-col', resolveBackgroundColor(backgroundColor), className]} {...rest} >

</div>
