---
import type { PartialProps } from '../../types';
import { Image } from 'astro:assets';

const { title, description, image, alt, class: className, ...rest }: Partial<PartialProps> = Astro.props;
---

<div class:list={['flex flex-col', className]} {...rest} >
  <div class="flex flex-row-reverse justify-end gap-4">
    <div class="flex flex-col gap-1">
      <h4 class="m-0 text-base font-semibold text-black dark:text-white">{title}</h4>
      <p class="text-sm text-black dark:text-white">{description}</p>
    </div>

    <div class="flex min-w-16">
      <Image
        src={image}
        height={64}
        width={64}
        format="webp"
        class="rounded-full border-2 border-b-2 border-dark-grey dark:border-light-grey h-16 w-16 object-cover object-center"
        alt={ alt ? alt : `avatar of ${title}`}
      />
    </div>
  </div>
</div>
