---
import type { PartialProps } from '~/types';
import Button from '~/components/ui/Button.astro';
import Heading from '~/components/ui/Heading.astro';

const { title, titleTag = 'h2', description, primaryButtonProps, secondaryButtonProps, class: className, ...rest }: Partial<PartialProps> = Astro.props;
---

<header class:list={['flex flex-col md:flex-row justify-between', className]} {...rest} >

  { (title || description) && (
    <div class="flex flex-col gap-2">
      { title && (
        <Heading titleTag={titleTag}>{title}</Heading>
      )}
      { description && (
        <p class="mb-2 text-black dark:text-white">{description}</p>
      )}
    </div>
  )}

  { (primaryButtonProps || secondaryButtonProps) && (
    <div class="flex flex-col lg:flex-row gap-4 my-auto">
      { primaryButtonProps && (
        <Button {...primaryButtonProps} />
      )}
      { secondaryButtonProps && (
        <Button {...secondaryButtonProps} />
      )}
    </div>
  )}

</header>
