---
import type { HTMLAttributes } from 'astro/types';
import type { DefaultTypes } from '~/types';
import { slugify } from '~/utils';

interface Props extends DefaultTypes, HTMLAttributes<'ul'> {
  tags: string[],
  permalink: string
};

const { backgroundColor = 'transparent', permalink, tags, class: className, ...rest }: Partial<Props> = Astro.props;
---

<ul class:list={['flex flex-wrap gap-4', className]} {...rest} >
  {tags.map((tag) =>
    <li>
      <a
        class="pb-2 font-medium text-black dark:text-white hover:text-true-black dark:hover:text-true-white border-b-2 border-light-grey dark:border-dark-grey hover:border-dark-grey hover:dark:border-light-grey transition ease-in-out duration-300"
        href={`${Astro.site}${permalink}${slugify(tag)}/`}
      >
        #{tag.toLowerCase()}
      </a>
    </li>
  )}
</ul>