---
import { SITE_FOOTER_TEXT, THEME_CONTAINER_DESKTOP, THEME_CONTAINER_MOBILE } from '../../consts';
// import SocialIcons from "./SocialIcons.astro";
---

<footer class={`relative flex flex-col md:flex-row items-center justify-between gap-4 pt-4 pb-8 ${THEME_CONTAINER_DESKTOP} ${THEME_CONTAINER_MOBILE}`}>
  <div class="absolute top-0 -z-40 block w-full border-t-2 border-light-grey dark:border-dark-grey"></div>
  <span class="inline-flex px-4 text-center text-black dark:text-white">
    {SITE_FOOTER_TEXT}
  </span>
</footer>
