---
import Head from '../components/metadata/Head.astro';
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';

const { title, description, image } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  x-data="{
    darkMode: false, 
    init() {
      if (localStorage.getItem('darkMode')) {
        this.darkMode = JSON.parse(localStorage.getItem('darkMode'));
      }
      else {
        this.darkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
      }

      document.documentElement.classList.toggle('dark', this.darkMode);
    },
    toggleDarkMode() {
      this.darkMode = !this.darkMode;
      document.documentElement.classList.toggle('dark', this.darkMode);
      localStorage.setItem('darkMode', JSON.stringify(this.darkMode));
    }
  }"
  x-init="init"
>
  <head>
    <Head title={title} description={description} image={image} />
  </head>

  <body class="bg-white dark:bg-black">
    <Header />
    <main id="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
