---
import { Icon } from 'astro-icon/components';
import { formatDateTime } from '../../i18n';

interface Props {
  date: Date,
  description: string,
  class?: string,
};

const { date, description, class: className, ...rest }: Partial<Props> = Astro.props;

const formattedDate = formatDateTime(date.toISOString());
---

<div class:list={['inline-flex gap-2 text-black dark:text-white', className]} {...rest} >
  <Icon name="tabler:calendar" height={21} width={21} class="self-center"/>
  <span class="sr-only">{description}</span>
  <time datetime={date.toISOString()}>{formattedDate}</time>
</div>
