---
import type { DateOptions } from '~/types';
import { Icon } from 'astro-icon/components';
import { formatDateTime } from '~/i18n';
import { resolveBackgroundColor, resolveTextColor } from '~/utils';

interface Props extends DateOptions {
  date: Date
};

const { backgroundColor = 'transparent', date, description, hideDescription, class: className, ...rest }: Partial<Props> = Astro.props;

const formattedDate = formatDateTime(date.toISOString());
---

<div class:list={['flex flex-col gap-2', resolveBackgroundColor(backgroundColor), resolveTextColor(backgroundColor), className]} {...rest} >

  { !hideDescription && (
    <span class="font-medium">{description}</span>
  )}

  <div class="inline-flex gap-2">
    <Icon name="carbon:calendar" height={21} width={21} class="self-center"/>
    { hideDescription && (
      <span class="sr-only">{description}</span>
    )}
    <time datetime={date.toISOString()}>{formattedDate}</time>
  </div>

</div>
