---
import type { ComponentProps } from '../../types';
import { formatDateTime } from '../../i18n';
import { Icon } from 'astro-icon/components';

interface Props extends ComponentProps {
  date: Date,
};

const { class: className, date, description }: Partial<Props> = Astro.props;

const formattedDate = formatDateTime(date.toISOString());
---

<div class:list={['inline-flex gap-2', className]}>
  <Icon name="tabler:calendar" height={21} width={21} class="self-center"/>
  <span class="sr-only">{description}</span>
  <time class="text-theme-800 dark:text-theme-200" datetime={date.toISOString()}>{formattedDate}</time>
</div>
