---
import type { PartialProps } from '~/types';
import { Icon } from 'astro-icon/components';
import { resolveBackgroundColor, resolveTextColor } from '~/utils'; 
import { formatDateTime } from '~/i18n';

interface Props extends PartialProps {
  date: Date,
  hideDescription?: boolean
};

const { date, description, hideDescription, backgroundColor, class: className, ...rest }: Partial<Props> = Astro.props;

const formattedDate = formatDateTime(date.toISOString());
---

<div class:list={['flex flex-col gap-2', resolveBackgroundColor(backgroundColor), resolveTextColor(backgroundColor), className]} {...rest} >

  { !hideDescription && (
    <span class="font-medium">{description}</span>
  )}

  <div class="inline-flex gap-2">
    <Icon name="tabler:calendar" height={21} width={21} class="self-center"/>
    { hideDescription && (
      <span class="sr-only">{description}</span>
    )}
    <time datetime={date.toISOString()}>{formattedDate}</time>
  </div>

</div>
