---
import type { DefaultTypes, ImageOptions } from '~/types';
import { Picture } from 'astro:assets';

interface Props extends ImageOptions {
  image: DefaultTypes['image']
};

const { image, altText = '', aspectRatio, objectFit = 'cover', imageMask, padded, class: className, ...rest }: Partial<Props> = Astro.props;

let aspectRatioCSS;
switch (aspectRatio) {
  case 'square':
    aspectRatioCSS = 'aspect-square';
    break;
  case 'video':
    aspectRatioCSS = 'aspect-video';
    break;
  case 'landscape':
    aspectRatioCSS = 'aspect-[4/3]';
    break;
  case 'portrait':
    aspectRatioCSS = 'aspect-[3/4]';
    break;
  default:
    aspectRatioCSS = 'aspect-auto';
    break;
};

let maskCSS;
switch (imageMask) {
  case 'circle':
    maskCSS = 'mask-circle';
    break;
  case 'heart':
    maskCSS = 'mask-heart';
    break;
  case 'hexagon':
    maskCSS = 'mask-hexagon';
    break;
  case 'star':
    maskCSS = 'mask-star';
    break;
  case 'triangle':
    maskCSS = 'mask-triangle';
    break;
  default:
    break;
};
---

<div class:list={[padded ? 'p-12 self-center' : '', className]} {...rest} >
  <Picture
    src={image}
    widths={[480, 900, 1600]}
    sizes={`(max-width: 768px) 480px, (max-width: 1280px) 900px`}
    inferSize
    formats={['webp']}
    loading="eager"
    class:list={['h-full w-full', `object-${objectFit}`, maskCSS, aspectRatioCSS]}
    alt={altText}
    />
</div>

<style is:global>
  .mask-circle {
    -webkit-mask-image: url(/mask/circle.svg);
    mask-image: url(/mask/circle.svg);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 75%;
    mask-size: 75%
  }
  .mask-heart {
    -webkit-mask-image: url(/mask/heart.svg);
    mask-image: url(/mask/heart.svg);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 75%;
    mask-size: 75%
  }
  .mask-hexagon {
    -webkit-mask-image: url(/mask/hexagon.svg);
    mask-image: url(/mask/hexagon.svg);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 75%;
    mask-size: 75%
  }
  .mask-star {
    -webkit-mask-image: url(/mask/star.svg);
    mask-image: url(/mask/star.svg);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 75%;
    mask-size: 75%
  }
  .mask-triangle {
    -webkit-mask-image: url(/mask/triangle.svg);
    mask-image: url(/mask/triangle.svg);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 75%;
    mask-size: 75%
  }
</style>